<script>
  $(document.ready(function() {
    Backbone.history.navigate("how", {trigger: true});
  }))
</script>


<div id="how-it-works">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1">
      <div class="content-container">
        <div class="content-area">
          <div class="static-info-container">
            <h1 class="how-title">How it Works</h1>

            <a href="#assessment">
              <button class="get-started btn btn-lg btn-warning">Get Started</button>
            </a>
            <br>
            <hr>

            <div class="row">
              <div class="col-xs-12 col-sm-4">

                <div class="how-segment">
                  <div class="how-content">
                    <div class="how-step">
                      Step 1
                    </div>
                    <div class="how-text">
                      Complete the assessment
                    </div>
                    <img src="quiz_complete.png" class="how-it-works-img img-thumbnail">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="how-segment">
                  <div class="how-content">
                    <div class="how-step">
                      Step 2
                    </div>
                    <div class="how-text">
                      View your results
                    </div>
                    <img src="profile.png" class="how-it-works-img img-thumbnail">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="how-segment">
                  <div class="how-content">
                    <div class="how-step">
                      Step 3
                    </div>
                    <div class="how-text">
                      Compare with co-workers
                    </div>
                    <img src="groups.png" class="how-it-works-img img-thumbnail">
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <a href="#assessment">
              <button class="get-started btn btn-lg btn-warning">Get Started</button>
            </a>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>