<% @title = "Minzio. Free Career Personality Test. Profile inspired by Myers Briggs" %>
<% @description = "Free personality test for the workplace. Personality quiz inspired by Myers Briggs, Jung Personality profiles, and disc personality assessment" %>

<div id="landing-page">
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-12 landing-info">
          <h1>Personality profiles for the workplace.</h1>
          <!-- <h4>Compare Workplace Personalities<br>See what makes your co-workers tick</h4> -->
          <br>
          <a href="/auth/linkedin"><button type="submit" class="btn btn-lg btn-warning">Sign up with LinkedIn</button></a>
        </div><!-- /col-md-5 col-md-offset-1 -->
        <br>
        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <!-- <img class="img-responsive" src="landing_page/img/ipad-hand.png" alt=""> -->
          <img class="img-responsive" src="landing_page/img/imac_filled_no_nav.png" alt="">
        </div><!-- /col-md-5 col-md-offset-1 -->

      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->

  
  <div class="container why-minzio">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Why use Minzio?</h1>
        <h4>Our personality assessment is based on decades of research, and is designed specifically to improve team efficiency</h4>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4 col-lg-offset-2 col-md-6">
        <object type="image/svg+xml" data="landing_page/img/icon_10580.svg" class="svg-img"></object>
        <h3>know yourself</h3>
        <p>View details on your own strengths and weaknesses to help yourself work more effectively</p>
      </div><!--/col-lg-6 -->

      <div class="col-lg-4 col-md-6">
        <object type="image/svg+xml" data="landing_page/img/icon_41385.svg" class="svg-img"></object>
        <h3>work better with your team</h3>
        <p>Minzio provides specific recommendations for working with each of your colleagues</p>

      </div>
    </div>
  </div><!-- /mid-wrap -->

  <div id="mid-wrap">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Get results fast.</h1>
        <h3>start comparing profiles with your team in 10 minutes or less</h3>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser01.png" width="180" alt=""> -->
        <img src="quiz_complete_resized.png" class="how-img">
        <h3>1 - Take the test</h3>
        <p>Our personality assessment consists of 20 questions and takes about three minutes to complete</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser02.png" width="180" alt=""> -->
        <img src="profile_resized.png" class="how-img">
        <h3>2 - View your profile</h3>
        <p>A detailed personality assessment with recommendations to work with you as a manager, peer, or employee</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser03.png" width="180" alt=""> -->
        <img src="groups_resized.png" class="how-img">
        <h3>3 - Compare results</h3>
        <p>Minzio is fully integrated with LinkedIn so you can view and share results with any of your connections</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->


  <div class="container" id="bottom">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
        <h1>Free to use.</h1>
        <h4>What do you have to lose? <br> Take a few minutes and get started!</h4>
      </div>
    </div><!-- /row -->

    <div class="centered">
      <a href="/auth/linkedin"><button type="submit" class="btn btn-lg btn-warning">Sign up with LinkedIn</button></a>
    </div>
  </div><!-- /container -->
</div>