<form class="edit-tip-form tip-text full-width">
  <div class="col-xs-8 edit-text">
    <input type="text" value="<%= tip.get("text") %>" class="form-control edit-text-input">
  </div>
  <div class="col-xs-4 tip-edit-submit">
    <input type="submit" value="Submit" class="form-control btn-warning btn-sm btn-resize">
  </div>
</form>
<div class="tip-edit-warning"><span class="glyphicon glyphicon-warning-sign"></span> Note: editing will reset votes to 0</div>