<div class="modal fade" id="delete-tip" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete this tip?</h4>
      </div>
      <div class="modal-body">
        Clicking "Delete" will permanently remove this tip. Are you sure that's what you want to do?
        <!-- You're about to transfer admin rights to  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger delete-tip-confirm">Delete</button>
      </div>
    </div>
  </div>
</div>

<hr style="margin:0">