<td class="tip">
  <div class="row">
    <div class="tip-text-container">
      <form class="new-tip-form">
        <div class="tip-text col-xs-8 col-sm-9 flush-right">
          <input type="text" class="form-control" placeholder="Enter your anonymous tip here...">
        </div>
        <div class="col-xs-4 col-sm-3">
         <input type="submit" value="Add Tip" class="form-control btn-warning">
       </div>
     </form>
   </div>
 </div>
</td>