<td class="tip">
  <div class="row">
    <div class="tip-text-container">
      <form class="new-tip-form">
        <div class="tip-text col-xs-8 col-sm-9 flush-right">
          <input type="text" class="form-control" placeholder="Say something constructive...">
        </div>
        <div class="col-xs-4 col-sm-3">
         <input type="submit" value="Add Tip" class="form-control btn-warning btn-resize">
       </div>
     </form>
   </div>
 </div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="post-anonymous" checked> Post anonymously <span class="glyphicon glyphicon-question-sign post-anonymous-toolip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Anonymous comments are given lower priority, and are more likely to be deleted"></span>
  </label>
</div>

</td>