<td class="tip">
  <div class="row">
    <div class="tip-text-container">
      <div class="col-xs-12">
        <a href="<%= user.get("pub_profile") %>" target="blank">Connect with <%= user.get("name").split(" ")[0] %> on LinkedIn</a> to add a tip
      </div>
    </div>
  </div>
</td>