<div class="modal fade" id="quiz-already-taken" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Again? Really?</h4>
      </div>
      <div class="modal-body">
        You've already taken the personality assessment... <br><br>You can take it again if you want, but in our experience the results are most accurate after your first attempt!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="quiz col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="quiz-title lead">
      Personality Assessment
    </div>
    <div class="quiz-instructions lead">
      For each answer pair, select the response that suits you best.<br>Answer as you really are, not as you might like to be. There are no right or wrong answers, just be honest!
    </div>
    <div class="questions">
    </div>
    <hr>
    <div class="error-message">
      You need to answer all the questions first! Un-answered questions are highlighted above
    </div>
    <button class="btn btn-warning btn-block get-results">Get My Results</button>
  </div>
</div>
<br>