<br>
<div class="row">
  <div class="quiz col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="quiz-title lead">
      Personality Assessment
    </div>
    <div class="quiz-instructions lead">
      For each question, select the response that suits you best.<br>For the test results to be useful, answer as you really are, not as you might like to be.<br> There are no right or wrong answers, just be honest!
    </div>
    <div class="questions">
    </div>
    <hr>
    <div class="error-message">
      You need to answer all the questions first! Un-answered questions are highlighted above
    </div>
    <button class="btn btn-warning btn-block">Get My Results</button>
  </div>
</div>
<br>