Hi there,

<%= @from_user.name %> just added you to the group "<%= @group.name %>" on MindSparrow! Check out the group here: http://www.teamglide.com/#/groups

best,
Sol Garger
Founder - MindSparrow

<a href="*|UNSUB:http://mindsparrow.com/unsub|*">Click here to unsubscribe.</a>