<div class="user">
  <div class="row">
    <div class="col-cs-12 col-sm-12 col-md-4 col-md-offset-1">
      <div class="user-basic-info">
      </div>
      <div class="row">
        <div class="content-container">
          <div class="content-area chart-container">
            <div id="results-chart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="col-xs-12 col-sm-12 col-md-6 content-area personality-column">
        <div data-intro="Details about your personality type. Be sure to share with your colleagues if it's accurate!" data-step="2" class="user-personality-type">
        </div>
        <div class="working-with-personality">
          <ul class="nav nav-pills relationship-type" data-intro="Tips on how to work with you, specifically. Split up by work relationship type (manager, colleague, employee)" data-step="3" data-position="top">
            <li class="active switch" data-category="colleague"><a>As<br>Colleague</a></li>
            <li class="switch" data-category="manager"><a>As<br>Manager</a></li>
            <li class="switch" data-category="employee"><a>As<br>Employee</a></li>
          </ul>
          <div class="tips-table">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>