<div class="user" data-id="<%= this.model.id %>">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1">
      <div class="user-basic-info">
      </div>
      <div class="row">
        <div class="user-results-chart">
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="col-xs-12 col-sm-12 col-md-6 content-area personality-column">
        <div data-intro="Details about your personality type. Be sure to share with your colleagues if it's accurate!" data-step="2" class="user-personality-type">
        </div>
        <div class="working-with-personality">
        </div>
      </div>
    </div>
  </div>
</div>