<ul class="nav nav-pills relationship-type" data-intro="Tips on how to work with you, specifically. Split up by work relationship type (manager, colleague, employee)" data-step="3" data-position="top">
  <li class="switch" data-category="colleague"><a>As<br>Colleague</a></li>
  <li class="switch" data-category="manager"><a>As<br>Manager</a></li>
  <li class="switch" data-category="employee"><a>As<br>Employee</a></li>
</ul>
<div class="tips-table">
  <table class="table new-tip-table">
    <tr class="add-tip-row"><td class="tip">
      <div class="add-tip-container col-xs-12" data-intro="Add a tip for working with you. You're the expert, let people know what you prefer!" data-step="4">
        <a>
          <span class="glyphicon glyphicon-plus"></span>
          <span class="add-tip-anchor"> Add anonymous tip for working with <%= this.model.get("name").split(" ")[0] %> (as your <%= this.tipsCategory %>)</span>
        </a>
      </div>
    </td></tr>
  </table>

  <!-- <table class="table"> -->
    <div class="tips">
    </div>
  <!-- </table> -->
</div>

