<table class="table">
  <% tips.models.forEach(function(tip) { %>
  <tr><td>
    <div class="row">
      <div class="tip-vote-container col-xs-2 col-sm-1">
        <span class="vote-direction glyphicon glyphicon-chevron-up"></span><br>
        <span class="tip-score"><%= tip.get("score") %></span><br>
        <span class="vote-direction glyphicon glyphicon-chevron-down"></span>
      </div>
      <div class="tip col-xs-10 col-sm-11 tip-text-container" data-id="<%= tip.id %>">
        <span class="tip-text">
          <%= tip.escape("text") %>
        </span>
      </div>
    </div>
  </td></tr>
  <% }) %>
</table>