<table class="table">
  <tr class="add-tip-row"><td class="tip">
    <div class="add-tip-container col-xs-12">
      <a>
        <span class="glyphicon glyphicon-plus"></span>
        <span> Add anonymous tip for working with <%= this.model.get("name").split(" ")[0] %> (as your <%= this.tipsCategory %>)</span>
      </a>
    </div>
  </td></tr>
</table>

<!-- <table class="table"> -->
  <div class="tips">
  </div>
<!-- </table> -->