<table class="table">
  <% tips.models.forEach(function(tip) { %>
    <tr><td>
      <span class="tip" data-id="<%= tip.id %>"><%= tip.get("score") %> - <%= tip.escape("text") %></span>
    </td></tr>
  <% }) %>
</table>