<div class="content-container">
  <div class="content-area">
    <div class="user-groups-container">
      <h4>Groups</h4>
      <% _.uniq(this.model.get("groups")).forEach(function(group) { %>
      <a href="#groups/<%= group.id %>">
        <div>
          <%= group.name %>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>