<div class="content-container">
  <div class="content-area">
    <ul>
      <% this.model.get("groups").forEach(function(group) { %>
        <li>a group goes here</li>
      <% }) %>
    </ul>
  </div>
</div>