<% @title = "Professionals on Minzio. Browse myers briggs personality profiles and test results" %> 
<% @description = "Employee personality profiles on Minzio. Minzio provides a myers briggs test and tips for working with all personality types" %>

<div class="col-xs-12">
  <a href="/companies">Companies on Minzio</a>
  <h1>Job Titles on Minzio</h1>
  <ul>
    <% @jobs.each do |job| %>
    <li>
      <a href="/job_titles/<%= job.id %>" %><%= job.name %> professionals</a>
    </li>
    <% end %>
  </ul>
</div>