<div class="row">
  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
    <div id="results-chart">
    </div>
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
    <h1>RESULT HERE</h1>
    <h2>SUB-HEADING HERE</h2>
  </div>
</div>