<form class="navbar-form navbar-left" role="search" id="connection-search">
  <div class="form-group">
    <input type="text" name="connection-selector" class="form-control connection-selector">
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> 
  </div>
</form>
