<div id="landing-page">
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-12 landing-info">
          <h1>Build a stronger team.</h1>
          <h4>Compare Workplace Personalities<br>See what makes your co-workers tick</h4>
          <br>
          <a href="/auth/linkedin"><button type="submit" class="btn btn-lg btn-warning">Sign up with LinkedIn</button></a>
        </div><!-- /col-md-5 col-md-offset-1 -->
        <br>
        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <!-- <img class="img-responsive" src="landing_page/img/ipad-hand.png" alt=""> -->
          <img class="img-responsive" src="landing_page/img/imac_filled.png" alt="">
        </div><!-- /col-md-5 col-md-offset-1 -->

      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->


  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Get results fast.</h1>
        <h3>start comparing profiles with your team in 10 minutes or less</h3>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser01.png" width="180" alt=""> -->
        <img src="quiz_complete_resized.png" class="how-img">
        <h4>1 - Complete the assessment</h4>
        <p>Our workplace personality assessment was created by psychology experts at The University of Chicago</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser02.png" width="180" alt=""> -->
        <img src="profile_resized.png" class="how-img">
        <h4>2 - View your profile</h4>
        <p>In addition to your personality profile, MindSparrow provides recommendations on how to work with you as a maanger, peer, or employee.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <!-- <img src="landing_page/img/ser03.png" width="180" alt=""> -->
        <img src="groups_resized.png" class="how-img">
        <h4>3 - Compare results</h4>
        <p>MindSparrow is fully integrated with LinkedIn so you can view and share results with any of your connections.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  <div id="bottomwrap">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
        <h1>Free to use.</h1>
        <h4>What do you have to lose? <br> Take a few minutes and get started!</h4>
      </div>
    </div><!-- /row -->

    <div class="centered">
      <a href="/auth/linkedin"><button type="submit" class="btn btn-lg btn-warning">Sign up with LinkedIn</button></a>
    </div>
  </div>
</div>