<label for="group-invite-linkedin">Invite with LinkedIn </label>
<div class="connection-container">
  <div class="connection-search-container">
    <!-- <form class="" role="search" id="connection-search"> -->
      <!-- <div class="form-group"> -->
        <!-- <input type="text" name="connection-selector" class="form-control connection-selector" id="group-invite-linkedin"> -->
        <!-- <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>  -->
      <!-- </div> -->
    <!-- </form> -->
  </div>
  <!-- <span class="glyphicon glyphicon-info-sign"></span> -->
  <span class="reload-contacts">
    <a><span class="glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="top" title="Load new LinkedIn connections"></span>
    </a>
  </span>
</div>  

<div>
  <a class="default-message-dropdown"><span class="glyphicon glyphicon-expand"></span><span class="glyphicon glyphicon-collapse-down invisible"></span> LinkedIn message text</a> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="When you invite a LinkedIn connection to your group, this is the message text they will receive from you"></span>
</div>
<div class="linkedin-msg-container">
  <input type="text" class="form-control linkedin-msg-subject" value="Quick favor?" id="msg-subject">
</input>
<textarea class="form-control linkedin-msg-text">I just added you to my group '<%= group.escape("name") %>' on Minzio. It's a tool to compare 'work personality profile' results. Will you take 2 minutes to create an account and join me so we can see each others' info? &#013;&#010;http://www.minzio.com</textarea>
</div>