<div class="group editing" data-id="<%= group.id %>">
  <form class="edit-group-form">
    <input type="text" name="group[name]" value="<%= group.get("name") %>" class="form-control change-group-name">
    <input type="submit" value="update" class="update-button btn btn-primary" style="display:none">
  </form>
  <button class="submit-button btn btn-default">submit</button>
</div>
