groups go here!

<div class="groups">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="content-area">
        <div class="title">
          Your Groups
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div id="new-group">
              NEW GROUP FORM GOES HERE
            </div>
            <div id="groups-list">
              GROUPS LIST GOES HERE
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="group-details">
              INDIVIDUAL GROUP INFO HERE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>