<!-- Modal -->
<!-- move to another parent class -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm group deletion</h4>
      </div>
      <div class="modal-body">
        Do you really want to delete this group?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger remove-group-confirm">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transfer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm admin transfer</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to transfer admin privileges? You will no longer be the admin of this group!
        <!-- You're about to transfer admin rights to  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger transfer-admin-confirm">Confirm Transfer</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <div class="content-area">
      <div class="row">
        <div class="groups">
          <div class="title">
            Your Groups
            <div id="new-group">
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div id="groups-list">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="group-details">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>