<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <div class="content-area">
      <div class="row">
        <div class="groups">
          <div class="title">
            Your Groups
            <div id="new-group">
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div id="groups-list">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="group-details">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>