<% groups.forEach(function(group) { %>
  <div class="group" data-id="<%= group.id %>">
    <div class="group-name">
      <%= group.get("name") %>
    </div>
    <div class="group-edit">
      <a class="edit-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
  </div>
<% }) %>