<div class="group" data-id="<%= group.id %>">
  <div class="group-name">
    <%= group.get("name") %>
  </div>
  <div class="group-edit">
    <a class="modify-group-button">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
 
    <div class="dropdown">

      <button class="btn dropdown-toggle sr-only" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-pencil"></span>  
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="presentation" class="edit-button"><a role="menuitem" tabindex="-1">Edit</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
