<div class="row">
  <form class="new-group-form">
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <input type="text" name="group[name]" id="group-name" placeholder="Group title..." class="form-control">
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
        <input type="submit" value="Add Group" class="form-control btn-warning">
      </div>
    </div>
  </form>
</div>