<div class="row">
  <form>
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <input type="text" name="group[name]" id="group-name" placeholder="Group name..." class="form-control">
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <input type="submit" value="Create Group" class="form-control btn-primary">
      </div>
    </div>
  </form>
</div>