<form class="new-group-form">
  <div class="form-group">
    <div class="col-xs-7 col-sm-3 flush-right">
      <input type="text" name="group[name]" id="group-name" placeholder="Group title..." class="form-control">
    </div>
    <div class="col-xs-5 col-sm-2">
      <input type="submit" value="Add Group" class="form-control btn-warning">
    </div>
  </div>
</form>