<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  You removed <strong><%= member.get("name") %></strong> from the group!
</div>
