<div class="group-container" data-id="<%= this.model.id %>">
  <div class="group-title">
    <%= group.escape("name") %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="add-connections">
        add new user to group here
        <!-- <input type="text" -->
      </div>
    </div>
  </div>

  <div class="group-members">
  </div>
</div>
