<div class="group-details">
  <div class="group-title">
    <%= group.escape("name") %>
  </div>

  <% group.get("members").models.forEach(function(member) { %>
    <div class="group-member">
      
    </div>
  <% }) %>
</div>