<h1>How it Works</h1>
<br>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <img src="quiz_complete.png">
  </div>
  <div class="col-xs-12 col-sm-4">
    <img src="quiz_complete.png">
  </div>
  <div class="col-xs-12 col-sm-4">
    <img src="quiz_complete.png">
  </div>
</div>