<h3>Privacy Policy</h3>
  </div>
</div>
<div class="row-fluid">
<div class="span6 offset3">
<p><strong>Updated June 20, 2013</strong></p>

      <p>Drillbit is a great tool that helps marketing managers, product managers, business owners and more manage their email lists and other private commpany data.  Needless to say, for you to use this site requires you put trust in us, so to show you that trust isn't misplaced, here is what we are doing to protect your privacy.</p>

      <h4>Data Privacy</h4>

      <p>Drillbit collects personal information about you, such as name and email address, when you sign up for our service. We will never share this information with anyone for any reason unless required by law.

      Futhermore, we understand that name and email list data uploaded to Drillbit is confidential. We will never share this information with anyone--including the NSA--for any reason unless Johnny Law forces our hands. We reserve the right to analyze this data from an aggregate standpoint, but in doing so we will never compromise the confidentiality of your data.</p>
      
      <h4>No Data Storage for Anonymous Users</h4>

      <p>Users who use our service to demo it for free (i.e., before logging in), will not have their files stored, only analyzed.</p>

      <h4>No Cookies</h4>

      <p>For the foreseeable future, we will not use cookies on this site, excepting those that may be utilized by third party services we make use of (such as analytics).</p>

      <h4>Data Liberation</h4>

      <p>It is our policy, and the right thing to do, to let you have 100% control over your own data.  This means that we do not share any data you upload with any third party, and at your request, we will delete all of your data, be it lists you have uploaded or user information.  Signed up users typically will have their files stored securely, but only so as to improve service: allow list segmentation, better data analysis in the future, etc.  This data is yours and you have a right to delete it on request.  Email <a href="mailto:info@mflatmedia.com">info@mflatmedia.com</a> for data removal requests.</p>

      <h4>Data Tracking</h4>

      <p>We use analytics only to track our users' activities on this site in the aggregate.  We do this to learn how people use this site, and improve the product in the future.</p>

      <h4>Questions</h4>
      <p>Questions about our Privacy Policy or our site can be emailed to <a href="mailto:info@mflatmedia.com">info@mflatmedia.com</a>.</p>

          </div>
            </div></div>
