<div class="row">
  <div class="col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div class="content-area">
      <div class="static-info-container">
      </div>
    </div>
  </div>
</div>