<div class="support-page">
  <h1 class="support-title">Support</h1>

  <div class="support-details">
    We're a scrappy product. Click below to email the founder (Sol) directly for any inquiries regarding using Minzio, your account, or anything else. Thanks!
  </div>
  <br>
  <a href="mailto:sol@minzio.com"><btn class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-envelope"></span>  Email Sol</btn></a>
  <br>
  <br>
</div>