<div class="support-page">
  <h1 class="support-title">Support</h1>

  <div class="support-details">
    We're a scrappy product. Click below to email the founder (Sol) directly for any inquiries regarding using TeamGlide, your account, or anything else. Thanks!
  </div>
  <br>
  <a href="mailto:solomon.garger@gmail.com"><btn class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-envelope"></span>  Email Sol</btn></a>
  <br>
  <br>
</div>