<div id="results-chart">
</div>
test
<!-- 
<script>
$(function () {
  var chart;
  
  var left_categories =  ['Introverted', 'Intuitive', 'Thinking', 'Judging'];
  var right_categories = ['Extroverted', 'Sensing', 'Feeling', 'Perceiving'];

  var pointCategory = function(point) {
    if(point.y < 0) {
      return point.category;
    } else {
      var idx = left_categories.indexOf(point.category);
      return right_categories[idx];
    }
  };

  $(document).ready(function() {
    $('#container').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Your Myers-Briggs Test Results'
      },
      subtitle: {
        text: 'sub-title goes here'
      },
      xAxis: [{
        categories: left_categories,
        reversed: true,
        labels: {
          step: 1
        }
      }, { // mirror axis on right side
        opposite: true,
        reversed: true,
        categories: right_categories,
        linkedTo: 0,
        labels: {
          step: 1
        }
      }],
      yAxis: {
        title: {
          text: null
        },
        labels: {
          formatter: function(){
            return Math.abs(this.value)*100 + '%';
          }
        },
        min: -1,
        max: 1
      },
  
      plotOptions: {
        series: {
          stacking: 'normal'
        }
      },
  
      tooltip: {
        formatter: function(){
          return "<b>" + Highcharts.numberFormat(Math.abs(this.point.y)*100, 0) + "% " + pointCategory(this.point) + "</b>"
        }
      },
  
      series: [{
        color: "#0066FF",
        data: [-.2, 0.4, -.8, 1.0],
        showInLegend: false
      }]
    });
  });
});
</script> 
 -->