quiz goes here
<br>
<div class="row">
  <div class="quiz col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="questions">
    </div>
    <hr>
    <div class="error-message">
      You need to answer all the questions first! Un-answered questions are highlighted above
    </div>
    <button class="btn btn-primary btn-block">Get My Results</button>
  </div>
</div>
<br>