body {
  background-color: rgb(220, 220, 220) !important;
  margin-top: 85px;
  padding-bottom: 60px;
  // margin-bottom: 85px;
  // margin-bottom: 15px;;

  a {
    text-decoration:none !important;
  }
}

#content {
  // margin-top: 2%;
}

.content-area {
  background-color: white;
  border-radius: 5px;
}

.content-container {
  margin: 0px 10px;
}

// a:hover {
//   color: #1abc9c
// }

.footer {
  padding: 10px 0px;
  margin-top: 3%;
  background-color: rgb(230, 230, 230);

  .footer-content {
    text-align: center;

    .footer-item a {
      color: rgba(44, 62, 80, 0.6);
      font-size: 0.8em;
      padding: 0% 2%;
    }

    .footer-item a:hover {
      color: #16a085;
      text-decoration: none;
    }
  }
}