body {
  background-color: rgb(220, 220, 220) !important;
  margin-top: 60px !important;
  // margin-bottom: 15px;;

  a {
    text-decoration:none;
  }
}

#content {
  // margin-top: 2%;
}

.content-area {
  background-color: white;
  border-radius: 5px;
}

.content-container {
  margin: 0px 10px;
}