// testing no curved edges design

.btn-warning:hover {
  box-shadow: 0 0 3px tomato !important;
  color: tomato !important;
  background-color:white !important;
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 

}

html {
  overflow-x:hidden !important;
}

* {
  border-radius: 0px !important;
}

a, li, img {
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}

.invisible {
  display: none;
}


body {
  background-color: #f2f2f2 !important;
  margin-top: 85px;
  padding-bottom: 60px;
  color: #555 !important;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  a {
    color: #16a085;
    text-decoration:none !important;
  }

  a:hover {
    color: #16c085;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-area {
  background-color: white;
  border-radius: 5px;
}

.content-container {
  margin: 0px 10px;
}

.footer {
  padding: 10px 0px;
  margin-top: 3%;
  background-color: rgb(230, 230, 230);

  .footer-content {
    text-align: center;

    .footer-item a {
      color: rgba(44, 62, 80, 0.6);
      font-size: 0.8em;
      padding: 0% 2%;
    }

    .footer-item a:hover {
      color: #16a085;
      text-decoration: none;
    }
  }
}

.popover-fixed {
  position: fixed;
  z-index: 2000;
}

// custom close button for popover
.custom-close {
  line-height: 15px;
}
