// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  .title {
    font-size: 2em;
  }

  margin: 3%
}
/**/
.group {
  font-size: 1.2em;
  height: 3%;
  border-radius: 5px;
  // margin: 1% 0%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

// .new-group-input {
//   height: 36px;
// }

.member-name {
  font-weight: bold;
}

.user-photo {
  // width: 75px;
  // height: 75px;
  height: 100%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
}

.personality-type-available {
  font-size: 1.3em
}

.group:hover {
  cursor: pointer;
  // color: 
}

.active {
  background-color: #34495E;
  color: white;
}