// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.underlined {
  text-decoration: underline !important;
}

.flush-right {
  padding-right: 0;
  margin-right: 0;
}

a:hover {
  cursor:pointer;
}

#add-connections {
  .connection-container {
    height: 50px;
    position: relative;    
  }

  .linkedin-info-open {
    height: 80px !important;
  }

  .linkedin-msg-container {
    display: none;
    .linkedin-msg-subject {
      // height: 100px !important;
      font-weight: bold;
      color: #555;
    }

    .linkedin-msg-text {
      height: 100px !important;
      color: #555;
    }    
  }

  #connection-search {
    position: absolute;
    left: 0;
    padding-left: 0px;
  }

  .reload-contacts {
    position: absolute;
    left: 0;
    line-height: 30px;
    margin-left: 285px;
  }

  .spinner {
    position: absolute;
    left: 0;
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.group-title-text {
  margin-top: 0px;
}

.group-container {
  margin-left: 3%;
  margin-right: 3%;

  hr {
    margin: 0px;
  }

  .group-member-container {
    position: relative;
    margin: 0px;
    border-radius: 5px;
    padding: 3% 0%;

    .destroy {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 1%;
      margin-right: 1%;
      padding: 3px 7px;
    }

    .destroy:hover {
      cursor:pointer;
    }
  }

  .group-member-container:hover {
    background-color: #DDDDDD;
  }

  .cannot-find-connect-faq a {
    font-size: 0.8em;
    text-decoration: none;
  }
}

.enable-account-instructions {
  display: none;
  font-size: 0.7em;
  padding: 3px 0px;
}

.groups {
  min-height: 500px;
  margin: 3%;
  
  .title {
    font-size: 2em;
    padding-left: 2%;
    padding-right: 5%;
  }

  #groups-list {
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 5%;
  }

  @media (max-width: 767px) {
    #groups-list {
      margin-left: 2%;
      margin-right: 5%;
    }
  }


  .glyphicon-pencil, .glyphicon-remove, .glyphicon-transfer, .make-admin {
    // set pencil to be default color
    color: rgba(44, 62, 80, 0.6);
  }

  .active {
    color: white !important;
    background-color: #2c3e50 !important;

    .glyphicon-pencil {
    // make it easier to click the icon
    color:white;
    }

    .glyphicon-pencil:hover {
      color: #18BC9C;
    }
  }
}


.group:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}

.group {
  position: relative;
  font-size: 1.2em;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 44px;

  .group-name,.group-edit{
    width:50%; position:absolute;

  }
  .group-name {
    left:0;
    margin-left: 10px;
  }
  .group-edit{
    right:0;
    text-align: right;
    margin-right: 10px;
  }

  .change-group-name {
    position: absolute;
    left: 0;
    width: 75%;
    margin: 0px;
    margin-left: 6px;
  }

  .update-buton,.submit-button{
    position: absolute !important;
    right: 0 !important;
    width: 20%;
    margin-right: 5px !important;
    padding-left: 0;
    padding-right: 0;
  }


  .dropdown-menu {
    min-width: 100px;
  }

  .edit-group-form {
    margin-top: -8px;
  }

}

.non-admin {
  opacity: 0.3;
}


.user-photo {
  height: 100%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
}

.user-name-dropdown {
  padding-top: 14px;
  // TODO: make this more elegant
  margin-left: -10%;
}

.personality-type-available {
  font-size: 1.3em
}

.group-member {
  .member-name {
    font-weight: bold;
  }

  .group-admin {
    font-size: 0.9em;
    font-weight: normal;
  }

  .member-info, .no-personality-type {
    overflow: hidden;
  }
}


.friend-dropdown {
  height: 50px;
  width: 50px;
}

.linkedin-warning {
  margin-top: 10px;
  font-size: 0.7em;
  font-weight: bold;
}

.make-admin:hover {
  cursor: pointer;
}