// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  min-height: 500px;
  margin: 3%;
  
  .title {
    font-size: 2em;
  }
}


/**/
.group {
  position: relative;

  font-size: 1.2em;
  height: 40px;
  border-radius: 5px;
  // margin: 1% 0%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;

  .group-name,.group-edit{
  width:50%; position:absolute;
}

  .group-name {
    left:0;
    margin-left: 10px;
  }
  .group-edit{
    right:0;
    text-align: right;
    margin-right: 10px;
  }

  .change-group-name {
    position: absolute;
    left: 0;
    width: 75%;
    margin: 0px;
    margin-left: 4px;
  }

  .update-buton,.submit-button{
    position: absolute !important;
    right: 0 !important;
    width: 20%;
    margin-right: 5px !important;
  }

}


// .new-group-input {
//   height: 36px;
// }

.member-name {
  font-weight: bold;
}

.user-photo {
  // width: 75px;
  // height: 75px;
  height: 100%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
}

.personality-type-available {
  font-size: 1.3em
}

.group:hover {
  cursor: pointer;
  // color: 
}

.active {
  background-color: #34495E;
  color: white;
}

.friend-dropdown {
  height: 50px;
  width: 50px;
}

#connection-search {
  padding-left: 0px;
}