// #top-nav {
//   // background-color: #0066FF;
//   background-color: #34495e;
//   // background-color: white;
// }

// .navbar a {
//   text-decoration: none;
// }

.navbar-header .navbar-brand {
  // color: white;
  // color: #0066ff;
  font-size: 2em;
}

.brand {
  max-width: 200px;
  margin-top: -12px;
}

.nav-img {
  max-height: 25px;
}

.top-nav-link {
  margin-bottom: -5px;
  font-weight: bold;
}

a:hover {
  img {
    box-shadow: 0 0 4px #18BC9C;
  }
}

.top-nav-img-link {
  padding-top: 20px !important;
  height: 60px;
}

// .navbar-header .navbar-brand:hover {
//   color: #1abc9c;
// }


// .navbar {
//   background-color: #34495e
// }

// .navbar-default .navbar-nav > li > a {
//   // color: white;
//   color: #0066ff;
//   // font-weight: bold;
//   font-size: 1.3em
// }