// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz {

  button {
    font-size: 2em;
  }

  .error-message {
    color: #FF0000;
    font-size: 1.2em;
    margin-bottom: 1px;
    visibility: hidden;
  }

  .questions {
    width: 100%;
  }

  .question {
    margin-top: 3%
  }

  .answers {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    padding: 6px;

    .divider {
      margin: 3px 5px;
    }
  }

  .answer {
     border-radius: 3px;
     background-color: rgba(255, 255, 255, 0.5);
     padding: 1% 3%;
     font-size: 1.5em;
     // margin-top: 5px;

     // make text non-selectable
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }

  .selected {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  .un-answered {
    border-color: #FF0000;
    box-shadow: 0 0 10px #FF0000;
  }


  .answer:hover {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
  }
}
