// Place all the styles related to the tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add-tip-container {
  font-size: 1.2em;
  padding-left: 0;
  margin-left: -3px;
}

.tips-table {
  margin-top: 1%;

  hr {
    margin: 0;
    padding: 0;
  }


  .new-tip-table {
    margin-bottom: 0;
  }

  .tip-container:hover {
    .tip-edit-trigger, .tip-authored-by {
      visibility:visible;
    }
  }

  .tip-authored-by {
    visibility: visible;
    font-size: 0.7em;
  }

  .tip {
    padding-top: 10px;
    padding-bottom: 10;

    .tip-edit-trigger {
      color: #555;
      font-size: 0.5em;
      padding: 15px;
      margin: -15px;
      visibility: visible;
    }

    .tip-edit-trigger.cannot-edit {
      color: #aaa;
    }
  }
  .tip-vote-container {
    text-align: center;
    min-width: 50px;

    .tip-score {
      font-size: 1.2em;
      font-weight: bold;
    }

    .vote-direction {
      font-size: 1.3em;
    }

    .vote-direction.disabled {
      color: #bbb;
    }

    .vote-direction:hover {
      cursor:pointer;
    }

    .upvote, {
      color: #149c82
    }

    .downvote {
      color: tomato;
    }
  }

  .tip-text-container {
    line-height:69px;

    .tip-text {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    .full-width {
      width: 100%;
    }
  }
}

.edit-text {
  padding-left: 0;
}

.tip-edit-submit {
  padding-left: 0;
  padding-right: 0;
}

.tip-edit-warning {
  font-size: 0.8em;
  // font-weight: bold;
  color: red;
  height: 30px;
  margin-top: -30px;
}

@media (max-width: 767px) {
  .add-tip-anchor {
    font-size: 0.9em;
  }
}
